<h1 class="container">WDI Blog</h1>

<div class="container">
  <% Post.all.each do |post| %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.date %></td>
        <td><%= post.author.name unless post.author.nil? %></td>
      </tr>
    </tbody>
  </table>

  <p class="lead"><%= post.content %></p>
  <strong>Tags:</strong><p><%= post.tags.map {|tag| tag.keyword }.join(", ") %> </p>
  <hr>
  <% end %>

</div>




